@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@theme {
  --color-feria-blue: #0B2F55;
  --color-feria-accent: #cda434;
  --color-feria-vibrant-pink: #ec4899;
  --color-feria-vibrant-orange: #f97316;
  --color-feria-vibrant-green: #22c55e;
  --color-feria-vibrant-purple: #a855f7;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Montserrat", sans-serif;
}

@layer base {
  body {
    @apply font-sans bg-gray-50 text-gray-900 overflow-x-hidden;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #cda434;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b8932d;
}
body.modal-open .mobile-nav-root {
  display: none !important;
}
